<section fxLayout="row wrap" class="provider--landing--wrapper">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">


        <section fxLayout="row" class="section--one" style="background-image: url('assets/images/ark/pro-banner.png')">
            <div class="container" fxLayout="column" fxLayoutAlign="center center">
                <div class="provider--head">
                    <img src="assets/images/ark/bannerlogo.png" alt="">
                    <h1>Turn Your Practice into a 
                        <span> Virtual Clinic</span>
                    </h1>                     
                </div>
            </div>
        </section>

        <section class="section--two bg--fff">
            <div class="container" fxLayout="column" fxLayoutAlign="start center">
                <div fxFlex fxLayout="row">
                    <div fxFlex="100">
                        <h2 class="main--heading text-center mb--100 mt--100">
                            Why Providers Prefer HomeHosp
                        </h2>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="row wrap" fxFlex="100" class="providers--box mb--100" fxLayoutAlign="space-between center">
                    <div class="info--sec">
                        <h2>Get New Patients</h2>
                        <p class="mb-0">Dummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's lorem.
                            dummyDummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's lorem.
                            dummy Dummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's lorem.
                            dummy</p>
                    </div>
                    <div class="img--sec" fxLayoutAlign.xs="center end" fxLayoutAlign="center center"
                        style="background-image: url('assets/images/ark/video-bg.png')">
                        <img src="../../../../assets/images/ark/play.png" alt="" class="cursor-pointer play--btn">
                    </div>
                </div>
            </div>
        </section>

        <section class="section--three mt--100 mb--100">
            <div class="container">
                <div fxLayout="row wrap" fxFlex="100" class="img--data" fxLayoutAlign="space-between center"
                    fxLayoutAlign.xs="center center">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                        <h1> <strong> Private and Secure </strong></h1>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been.
                            the industry's </p>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="41" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="order--1">
                        <img src="assets/images/ark/private-securenew.png" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <section class="section--three pt--100 pb--100 bg--fff">
            <div class="container">
                <div fxLayout="row wrap" fxFlex="100" class="img--data" fxLayoutAlign="space-between center"
                    fxLayoutAlign.xs="center center">
                    <div fxFlex.xs="100" fxFlex.sm="41" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="order--1">
                        <img src="assets/images/ark/fill-openings.png" alt="img">
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="order-1">
                        <h1> <strong> Fill Last Minute Openings </strong></h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been.
                            the industry's</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="section--three mt--100 mb--100">
            <div class="container">
                <div fxLayout="row wrap" fxFlex="100" class="img--data" fxLayoutAlign="space-between center"
                    fxLayoutAlign.xs="center center">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                        <h1> <strong> Strengthen Your Reputation </strong></h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been.
                            the industry's </p>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="41" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class=" ">
                        <img src="assets/images/ark/strengthnew.png" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <section class="section--three pt--100 pb--100 bg--fff">
            <div class="container">
                <div fxLayout="row wrap" fxFlex="100" class="img--data" fxLayoutAlign="space-between center"
                    fxLayoutAlign.xs="center center">
                    <div fxFlex.xs="100" fxFlex.sm="41" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class=" ">
                        <img src="assets/images/ark/boost-revenue.png" alt="img">
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="order-1">
                        <h1> <strong>Boost Practice Revenue </strong></h1>
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been.
                            the industry's </p>
                    </div>

                </div>
            </div>
        </section>

        <section class="section--four mb--100 ">
            <div class="container" fxLayout="column" fxLayoutAlign="start center">
                <div fxFlex fxLayout="row">
                    <div fxFlex="100">
                        <h2 class="main--heading text-center mb--100 mt--100">
                            Meet The Doctors
                        </h2>
                    </div>
                </div>
                <div fxLayout="row wrap" fxFlex="100" class="meet--doctors" fxLayoutAlign="space-between start">
                    <div class="text-center" fxFlex.xs="100" fxFlex.sm="23" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23"
                        *ngFor="let i of docProfile">

                        <div class="profile--pic">
                            <img src="{{i.docImg}}" alt="">
                        </div>
                        <h2 class="doc--name">{{i.docName}}</h2>
                        <address>
                            <h5>{{i.docProf}}</h5>
                            <p>{{i.docAdd}}</p>
                        </address>
                        <div class="divider"></div>
                        <p class="about--doc">
                            {{i.docAbout}}
                        </p>
                    </div>
                </div>
            </div>
        </section>



    </div>
</section>


<app-pro-landing-footer></app-pro-landing-footer>