<section fxLayout="row wrap" class="provider--landing--wrapper">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">


        <section fxLayout="row" class="section--one"
            style="background-image: url('assets/images/ark/pro-banner.png')"></section>

        <section class="section--two">
            <div class="container" fxLayout="column" fxLayoutAlign="start center">
                <div fxFlex fxLayout="row">
                    <div fxFlex="100">
                        <h2 class="main--heading text-center mb--100 mt--100">
                            How It Works
                        </h2>
                    </div>
                </div>
            </div>
        </section>


    </div> 
</section>


<app-pro-landing-footer></app-pro-landing-footer>