.provider--landing--wrapper{
    .container{
        max-width: 1137px;
    }
    .main--heading{
        font-size: 42px;
        font-weight: 500;
        color: #231f20;
        text-transform: uppercase;
    }
    .mb--100{
        margin-bottom: 100px;
    }
    .mt--100{
        margin-top: 100px;
    }
    .pb--100{
        padding-bottom: 100px;
    }
    .pt--100{
        padding-top: 100px;
    }
    .bg--fff{
        background-color: #fff;
    }
    .section--one{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 94vh; 
        .provider--head{
            img{
                margin-bottom: 54px;
            }
            h1{
                font-size: 48px;
                width: 60%;
                color: #fff;
                span{
                    font-size: 94px;
                    font-weight: 500;
                }
            }
        }
    }
    .section--two{
        .providers--box{
            .info--sec{
                background-color: #1fa4dd;
                padding: 50px;
                width: 51%;
                margin-right: -100px;
                flex-shrink: 0;
                z-index: 11;
                border-radius: 3px;
                h2{
                    font-size: 31px;
                    font-weight: 500;
                    color: #fff;
                    margin-bottom: 25px;
                    margin-top: 0;
                }
                p{
                    font-size: 16px;
                    color: #fff;
                }
            }
            .img--sec{
                height: 445px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center; 
                width: 606px;
            }
        }
    }

    .section--three{
        .img--data{
            h1{
                font-size: 42px;
                color: #231f20;
                margin-bottom: 30px;
            }
            p{
                font-size: 22px;
                color: #666;
            }
        }
    } 
    .section--four{
        .meet--doctors{
            width: 100%;
            .profile--pic{
                width: 225px;
                height: 225px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
            }
            .doc--name{
                font-size: 22px;
                font-weight: 500;
                color: #231f20;
                margin: 35px 0 20px 0;
            }
            address{
                font-style: normal;
                text-transform: uppercase;
                h5{
                    font-size: 14px;
                    font-weight: bold;
                    color: #1fa4dd; 
                    margin: 0 0 4px 0;
                }
                p{
                    font-size: 14px;
                    color: #666;
                    line-height: 1.43;
                    margin: 0;
                }
            }
            .divider{
                border-top: 2px solid #1fa4dd;
                width: 34px;
                margin: 20px auto 16px auto;                
            }
            .about--doc{
                color: #231f20;
                font-family: Roboto;
                font-size: 16px;
            }
        }
    }
    
}

@media only screen and (max-width: 599px) {
    .provider--landing--wrapper .section--one{
        height: 25vh;
    }
    .provider--landing--wrapper .section--one .provider--head img{
        margin-bottom: 10px;
        width: 40%;
    }
    .provider--landing--wrapper .section--one .provider--head h1{
        font-size: 18px;
        span {
            font-size: 30px; 
        }
    } 
    .provider--landing--wrapper .main--heading{
        font-size: 22px;
    }
    .provider--landing--wrapper .pb--100 {
        padding-bottom: 25px;
    }
    .provider--landing--wrapper .pt--100 {
        padding-top: 25px;
    }
    .provider--landing--wrapper .mb--100 {
        margin-bottom: 25px;
    }
    .provider--landing--wrapper .mt--100 {
        margin-top: 25px;
    }
    .provider--landing--wrapper .section--two .providers--box .info--sec h2 {
        font-size: 20px; 
        margin-bottom: 10px; 
        margin-top: 15px;
    }
    .provider--landing--wrapper .section--two .providers--box .info--sec p {
        font-size: 13px; 
    }
    .provider--landing--wrapper .section--two .providers--box .info--sec{
        padding: 18px;
        text-align: center;
        margin: 0 auto;
        width: 90%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: -100px;
    }
    .provider--landing--wrapper .section--two .providers--box .img--sec {
        width: 100%;
        height: 250px;
        order: -1;
    }
    .provider--landing--wrapper .section--two .providers--box .img--sec .play--btn{
        width: 40px;
        z-index: 999;
        margin-bottom: 80px;
    }
    .provider--landing--wrapper .section--three .img--data h1 {
        font-size: 20px;
        margin-bottom: 7px;
        text-align: center;
    }
    .provider--landing--wrapper .section--three .img--data p {
        font-size: 15px;
        text-align: center;
    }
    .provider--landing--wrapper .section--three{
        text-align: center;
    }
    .provider--landing--wrapper .section--three img{
        width: 50%;
        margin-top: 15px;
    }
    .provider--landing--wrapper .section--four .meet--doctors .profile--pic {
        width: 100px;
        height: 100px;
    }
    .provider--landing--wrapper .section--four .meet--doctors .doc--name {
        font-size: 17px; 
        margin: 15px 0;
    }
    .provider--landing--wrapper .section--four .meet--doctors address h5 {
        font-size: 12px;
    }
    .provider--landing--wrapper .section--four .meet--doctors address p {
        font-size: 13px;
    }
    .provider--landing--wrapper .section--four .meet--doctors .divider {  
        margin: 15px auto 13px auto;
    }
    .provider--landing--wrapper .section--four .meet--doctors .about--doc { 
        font-size: 14px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .provider--landing--wrapper .section--one{
        height: 38vh;
    }
    .provider--landing--wrapper .section--one .provider--head h1{
        font-size: 25px;
        span {
            font-size: 50px; 
        }
    } 
    .provider--landing--wrapper .main--heading{
        font-size: 30px;
    }
    .provider--landing--wrapper .pb--100 {
        padding-bottom: 50px;
    }
    .provider--landing--wrapper .pt--100 {
        padding-top: 50px;
    }
    .provider--landing--wrapper .mb--100 {
        margin-bottom: 50px;
    }
    .provider--landing--wrapper .mt--100 {
        margin-top: 50px;
    }
    .provider--landing--wrapper .section--two .providers--box .info--sec h2 {
        font-size: 25px; 
        margin-bottom: 15px; 
    }
    .provider--landing--wrapper .section--two .providers--box .info--sec p {
        font-size: 14px; 
    }
    .provider--landing--wrapper .section--two .providers--box .info--sec{
        padding: 30px;
    }
    .provider--landing--wrapper .section--two .providers--box .img--sec {
        height: 337px;
    }
    .provider--landing--wrapper .section--three .img--data h1 {
        font-size: 27px; 
        margin-bottom: 10px;
    }
    .provider--landing--wrapper .section--three .img--data p {
        font-size: 19px; 
    }
    .provider--landing--wrapper .section--four .meet--doctors .profile--pic {
        width: 150px;
        height: 150px;
    }
    .provider--landing--wrapper .section--four .meet--doctors .doc--name {
        font-size: 18px; 
        margin: 20px 0 15px 0;
    }
    .provider--landing--wrapper .section--four .meet--doctors address h5 {
        font-size: 12px;
    }
    .provider--landing--wrapper .section--four .meet--doctors address p {
        font-size: 13px;
    }
    .provider--landing--wrapper .section--four .meet--doctors .divider {  
        margin: 15px auto 13px auto;
    }
    .provider--landing--wrapper .section--four .meet--doctors .about--doc { 
        font-size: 14px;
    }
}

@media screen and (orientation:landscape) and (max-width: 850px){
    .provider--landing--wrapper .section--one {
        height: 85vh !important;
    }
    .provider--landing--wrapper .section--one .provider--head img {
        margin-bottom: 15px;
        width: 21%;
    }
    .provider--landing--wrapper .section--one .provider--head h1 {
        font-size: 25px;
        span{
            font-size: 50px;
        }
    }
}
     
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .provider--landing--wrapper .section--one{
        height: 60vh;
    }
    .provider--landing--wrapper .section--one .provider--head h1 {
        font-size: 38px; 
        span{
            font-size: 70px;
        }
    }

}
@media only screen and (min-width: 980px) and (max-width: 1279px){}