 
<div class="page-wrap auth--wrapper">
    <div class="session-form-hold">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="pinForm" fxLayout="column">
                    <div class="header--sec">
                        <h2>Provider Identification Number</h2>
                        <p></p>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start start">
                        <div fxFlex.sm="100" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
                            <label>Select</label>
                        </div>
                        <div fxFlex.sm="100" fxFlex.md="90" fxFlex.lg="90" fxFlex.xl="90">
                            <div class="mb-16">
                                <mat-radio-button checked> CAQH </mat-radio-button>
                            </div>
                            <div class="mb-16">
                                <mat-radio-button> NPI </mat-radio-button>
                            </div>
                            <div class="mb-16">
                                <mat-radio-button> Medicare number </mat-radio-button>
                            </div>
                        </div>
                    </div>
                    <mat-form-field class="full-width mt-0">
                        <mat-label>CAQH number</mat-label>
                        <input matInput placeholder="CAQH number" formControlName="caqhNumber"
                            (keyup)="caqhNumber($event)">
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="center center" class="mt-16 mb-10">
                        <button mat-raised-button class="mat-secondary mr-10"
                            [routerLink]="'/provider-auth/select-provider'">Back</button>
                        <button mat-raised-button class="mat-primary"
                            [disabled]="pinForm.invalid" [routerLink]="'/provider-auth/personal-info'">Verify</button>
                    </div>
<!-- 
                    <button mat-raised-button class="mat-primary full-width mt-16 mb-10"
                        [disabled]="pinForm.invalid" [routerLink]="'/provider-auth/personal-info'">Verify</button> -->

                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="caqhNot">
                        <p class="click--here">Do not have CAQH credentials? <a>Click Here</a></p>
                    </div>

                    <div class="caqh--error" fxLayout="column" fxLayoutAlign="center center" *ngIf="caqhError">
                        <p>We couldnt verify the CAQH number you have entered.</p>
                        <p>Please enter the number again. </p>
                        <h6><strong>OR</strong></h6>
                        <a>answer a few questions.</a>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div> 