 
<div class="page-wrap auth--wrapper">
    <div class="session-form-hold">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="officeInfoForm">
                    <div class="header--sec">
                        <h2 class="m-0">Office Location</h2> 
                    </div>
                    <mat-form-field class="full-width">
                        <mat-label>Contact Number</mat-label>
                        <input matInput placeholder="Contact Number">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Fax</mat-label>
                        <input matInput placeholder="Fax">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Address Line 1 *</mat-label>
                        <input matInput placeholder="Address Line 1">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Address Line 2 *</mat-label>
                        <input matInput placeholder="Address Line 2">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City"  value="Oakland">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="State"  value="California">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Zipcode</mat-label>
                        <input matInput placeholder="Zipcode"  value="93657">
                    </mat-form-field>
                    
                    <div fxLayout="row" fxLayoutAlign="start center" class="mt-10">
                        <button mat-raised-button class="mat-secondary mr-10" [routerLink]="'/provider-auth/personal-info'">Back</button>
                        <button mat-raised-button class="mat-primary" [routerLink]="'/provider-auth/credentials'">Next</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>