<footer class="patient--landing--footer">
    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <ul fxLayout="row wrap" class="m-0 p-0">
            <li>
                <a>FAQs</a>
            </li>
            <li>
                <a>Provider Login</a>
            </li>
            <li>
                <a>Vendor Login</a>
            </li>
            <li>
                <a>Privacy Policy</a>
            </li>
        </ul>
        <ul class="m-0 p-0">
            <li>
                <a class="mr-0">www.homehosp.com</a>
            </li>
        </ul>
    </div>
</footer>