 

.main-content-wrap{
    width: 100% !important;
    margin-top: 80px;
    height: calc(100vh - 80px);
    .rightside-content-hold{
        min-height: unset;
    }
}
@media only screen and (max-width: 599px) {
    .main-content-wrap{
        margin-top: 54px;
        height: auto;
    }
}
@media only screen and (max-width: 959px) {
    .app-admin-container .rightside-content-hold {
        height: calc(100vh - 62px);
    }
    
}