

button{
    font-family: "Roboto", sans-serif !important;    
}
.mat-flat-button{
    background-color: #1fa4dd !important;     
}
.mat-stroked-button.mat-primary{
    color: #1fa4dd !important;
    border-color: #1fa4dd !important;
    border-radius: 2px;
}
ul{list-style-type: none;}

.form-error-msg{
    margin-top: -17px;
    font-size: 11px;
}
.egret-navy .mat-raised-button:not([class*='mat-elevation-z']){
    box-shadow: none !important;
}