

button{
    font-family: "Roboto", sans-serif !important;    
}
.mat-flat-button{
    background-color: #1fa4dd !important;     
}
.mat-stroked-button.mat-primary{
    color: #1fa4dd !important;
    border-color: #1fa4dd !important;
    border-radius: 2px;
}
.mat-raised-button.mat-secondary{
    color: #fff !important;
    background: #8f98a4 !important;
    border-radius: 2px;
}
ul{list-style-type: none;}

.form-error-msg{
    margin-top: -17px;
    font-size: 11px;
}
.egret-navy .mat-raised-button:not([class*='mat-elevation-z']){
    box-shadow: none !important;
    line-height: 38px;
}

// Checkbox
.mat-checkbox{
    .mat-checkbox-layout{
        white-space: normal;
        align-items: flex-start;
        .mat-checkbox-inner-container{
            margin: 2px 12px 0 0 !important;
        }
        .mat-checkbox-label{
            line-height: 21px;
            font-size: 14px;
            color: #304156;
        }
    }
}
.mat-radio-label{
    color: #3b4b5f;
    font-size: 14px;
    white-space: normal !important;
}
.mat-form-field{
    letter-spacing: normal;
    font-family: 'Roboto';
}