/* You can add global styles to this file, and also import other style files */


.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
}
.mm--header{
    padding: 16px 0;
    box-shadow: 0 0 20px 0 rgba(27, 28, 31, 0.3) !important;
    .topbar-branding {
        cursor: pointer;        
    }
    .topnav{
        .menu {
            height: auto;
            padding-right: 0;
            li{
                a{
                    font-weight: 500;
                    color: #1fa4dd;
                    font-size: 16px;
                }
            }
        }
    }
}

// auth header
.auth--header{
    background-color: #fff;
    padding: 10px 30px;
    img{
        width: 140px;
    }
    p{
        font-size: 14px;
        color: #3b4b5f;
    }
    .mat-primary{
        line-height: 38px;
        padding: 0 21px;
        margin-left: 18px;
    }
}