/* You can add global styles to this file, and also import other style files */


.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
}
.mm--header{
    padding: 16px 0;
    box-shadow: 0 0 20px 0 rgba(27, 28, 31, 0.3) !important;
    .topbar-branding {
        cursor: pointer;        
    }
    .topnav{
        .menu {
            height: auto;
            padding-right: 0;
            li{
                a{
                    font-weight: 500;
                    color: #1fa4dd;
                    font-size: 16px;
                }
            }
        }
    }
}



// Helper classes:
.mr-20{ margin-right: 20px !important;}
.mt-5{ margin-top: 5px !important;}
.mb-5{ margin-bottom: 5px !important;}
.mb-10{ margin-bottom: 10px !important;}
.mr-10{ margin-right: 10px !important;}

// Fonts
.fnt--12{font-size: 12px !important;}

// auth header
.auth--header{
    background-color: #fff;
    padding: 10px 30px;
    box-shadow: -1.5px 1.4px 6px 0 rgba(88, 92, 101, 0.3);
    img{
        width: 140px;
    }
    p{
        font-size: 14px;
        color: #3b4b5f;
    }
    .mat-primary{
        line-height: 38px;
        padding: 0 21px;
        margin-left: 18px;
    }
}
//  auth body structure 
.auth--wrapper{ 
    height: calc(100vh - 68px);
    overflow: auto;
    align-items: flex-start;
    .header--sec{
        padding: 15px 15px 30px 15px;
        text-align: center;
        h2{
            color: #304156;
            font-size: 20px;
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
            color: #98a0ab;
            margin: 0;
            line-height: 17px;
        }
        
    }
}












 
@media only screen and (max-width: 599px) {
    .auth--header{
        padding: 10px 15px;
        p{
            display: none;
        }
    } 
}