<section fxLayout="row wrap" class="patient--landing--wrapper">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

        <section class="section--two">
            <div class="container">
                <div fxFlex fxLayout="row">
                    <div fxFlex="100">
                        <h2 class="main--heading text-center mb-100 mt--100">
                            How It Works
                        </h2>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="30px" fxFlex="100" fxLayoutAlign="start center">
                    <div fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">3</div>
                    <div fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">4</div>
                </div>
                
            </div>
        </section>


    </div>
</section>