.patient--landing--wrapper{
    .main--heading{
        font-size: 42px;
        font-weight: 500;
        color: #231f20;
        text-transform: uppercase;
    }
    .mb--100{
        margin-bottom: 100px;
    }
    .mt--100{
        margin-top: 100px;
    }
    .section--two{

    }
}

